<div id="wrapper">
    <div id="footer">
        <div id="footer_info">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td width="1000px" height="100px" align="left" style="padding-left: 30px; line-height: 23px;">상호명 : 단양 천동 사계절 펜션&nbsp;&nbsp;|&nbsp;&nbsp;주소 : 충북 단양군 단양읍 다리안로 604     &nbsp;&nbsp;|&nbsp;&nbsp;     대표자 : 이재영     &nbsp;&nbsp;|&nbsp;&nbsp;     전화 : 010-4065-7899     &nbsp;&nbsp;|&nbsp;&nbsp;     이메일 : nnnyyy@nate.com<br/>
                    <div style="font-size:11px; color: #9b9b9b;">Copyright © 2016 4seasonpension. All Rights Reserved.</div>
                    </td>
                    <td width="280px" height="100px">
                        <img src="/images/img_footer_title.jpg"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>