<!DOCTYPE html>
<html>
<head>
    <title>단양 천동 사계절 펜션 - 예약</title>
    <% include ./partials/head %>
    <link rel='stylesheet' href='/stylesheets/calendar.css' />
    <script src="/js/calendar.js"></script>
</head>
<body>
<% include ./partials/header %>
<script>
    $(document).ready(function(){
        $('#menu_btn_3').addClass('menu_selected_fix');
    })
</script>
<script type="text/javascript">
    var mon = <%- mon%>
    var year = <%- year%>
    var data = <%- JSON.stringify(reserv_info) %>
    calendar(mon,year,data);
</script>
<div id="wrapper"><br/>
    <div id="reserv_bottom">
        현재 예약은 전화 예약만 가능합니다.
        <br/>
        <br/>
        예약 문의 : 010-4065-7899
        <br/>
        <br/>
    </div>
</div>
<% include ./partials/footer %>
</body>
</html>